@tailwind base;
@tailwind components;
@tailwind utilities;

ul::-webkit-scrollbar-thumb {
  background: #BDBDBD;
  border-radius: 24px;
}
ul::-webkit-scrollbar {
  width: 5px;
  background-color: #F2F2F2;
  border-radius: 24px;
}